body {
  font-size: 2vw;
  font-family: sans-serif;
  font-weight: bold;
}

img {
  width: 60%;
  height: auto;
}

h1, h2 {
  text-align: center;
  font-size: 2vw;
}

p {
  font size: 2vw;
}

.jumbotron-fluid {
  background-image: url(http://news.bbcimg.co.uk/media/images/61263000/jpg/_61263633_pingpong21.jpg);
  background-repeat: repeat;
  background-position: left;
}

.container-fluid {
  background-image: url(http://news.bbcimg.co.uk/media/images/61263000/jpg/_61263633_pingpong21.jpg);
  background-repeat: repeat;
  background-position: left;
}

.btn {
  background-color: #cc99ff;
  color: white;
}
