body {
  font-size: 2vw;
  font-family: sans-serif;
}

img {
  width: 60%;
  height: auto;
}

h1, h2 {
  text-align: center;
  font-size: 2vw;
}

p {
  font size: 2vw;
}

.jumbotron-fluid {
  background-color: #ffccee;
}

.container-fluid {
  background-color: #e6ccff;
}

.btn {
  background-color: #cc99ff;
  color: white;
}
